body {
  background-color: #fdffff;
  color: #1e45b1b4;
    width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #eeff02;
  color: #000000;
  border-style: none;
}
input {
  height: 20px;
}